#mic {
    border-radius: 50%;
    background-color: var(--primary-color);
    height: 56px !important;
    width: 56px !important;
    margin: 0 20px;
    bottom: 20px;
    box-shadow: 0 8px 6px -6px black;
    z-index: 20;
}